#topDiv{
  background-image: linear-gradient(dimgray, white);
  padding: 1vw;
  justify-content: space-evenly;
}

#displayBlock {
  justify-content: space-evenly;
}

#projectBlock {
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1vw;
}

.avatar {
  height: 18vmax;
  width: 18vmax;
  border-radius: 135px;
}

.contactCard {
  height: 18vmax;
  width: 20vmax;
}

.selectedcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.container {
  padding-top: 12%;
  z-index: 2;
  text-align: center;
}

#pBpreview {
  padding: 4vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: center;
}

#LinkUpCard{
  width: 14vmax;
}

#LifeTourCard{
  width: 14vmax;
}

#IntellitrakCard{
  width: 14vmax;
}

#PuppyLinkCard{
  width: 14vmax;
}

.page-image {
  width: 100%;
  justify-content: space-evenly;
}