.top-div {
  background-image: linear-gradient(dimgray, white);
}

.avatar {
  height: 18vw;
  width: 18vw;
  border-radius: 135px;
  text-align: right;
  margin-top: 1.75vw;
}

.contactCard {
  height: 21vw;
  width: 22vw;
}

#info.col {
  text-align: left;
}

#avatar.col {
  text-align: right;
}

.displayBlock {
  padding: 1.75vw;
  height: relative;
}

.selectedcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.container {
  text-align: center;
  margin-top: 14%;
  z-index: 2;
}

#displayBlock {
  text-align: center;
}

#projectRow {
  text-align: center;
}

#pBpreview {
  text-align: center;
  padding-top: 4vw;
  font-family: 'Courier New', Courier, monospace;
}

#LinkUpCard{
  width: 15vw;
  height: auto;
}

#LifeTourCard{
  width: 15vw;
  height: auto;
}

#IntellitrakCard{
  width: 15vw;
  height: auto;
}

#PuppyLinkCard{
  width: 15vw;
  height: auto;
}

#LinkUpShow {
  padding: 1%;
}

#LifeTourShow {
  padding: 1%;
}

#IntellitrakShow {
  padding: 1%;
}

#PuppyLinkShow {
  padding: 1%;
}